#Lechuga {
    background-color: rgb(213, 216, 220);
    padding: 25px 25px 50px 100px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 15px;
    color: black;  
}

#alumna {
    font-family: 'Roboto', sans-serif;
    padding: 50px 50px 50px 50px;
    text-align: center;
}

